# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
dist_nuitka/
dist_pyinstaller/
build/
icon/
input/
output/
logs/
*.egg-info/
temp_binaries/

# IDE settings
.vscode/
.idea/

# Logs
*.log
nuitka-crash-report.xml

# Local development settings
.env
.env.local

# System files
.DS_Store
Thumbs.db
build.spec.bak
uninstall_modules.txt

# Temp files
temp_files.txt
temp_module_count.txt
temp_error_count.txt
temp_warning_count.txt