# ---------------------------------------------------------------------
# How to build and run VisionLane OCR:
# ---------------------------------------------------------------------
#
# Note:
# - Python 3.10 to 3.12 required, tested for 3.10.0, 3.11.9 and 3.12.6
# - PyTorch don't work with Python 3.13 yet
# - The modules are tested to work with the current version of DocTR.
#   which is the reason why the version is specified.
#
# Type the ff:
# 
# To deploy VisionLane OCR with python virtual environment:
# 1.) python -m venv .venv
# 2.) .venv\Scripts\activate
# 3.) python.exe -m pip install --upgrade pip
# 4.) pip install -r requirements.txt
# 5.) python test_cuda.py (Test if CUDA is working)
# 6.) python main.py
#
# To deactivate and delete python virtual environment:
# 1.) deactivate
# For Windows [PowerShell]
# 2a.) Remove-Item -Recurse -Force .\.venv
# For Linux [BASH]
# 2b.) rm -rf venv
#
# To run from build:
# 1.) Run build.bat or type "pyinstaller --clean build.spec"


# ---------------------------------------------------------------------
# Modules/Dependencies to run DocTR
# ---------------------------------------------------------------------

# Modules with PyTorch + CUDA 12.8 for GPU acceleration
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0+cu128
torchvision==0.22.0+cu128
torchaudio==2.7.0+cu128

# Other Modules
pandas==2.2.3
PyQt6==6.9.0
wmi==1.5.1
python-doctr[torch]==0.11.0
python-doctr==0.11.0
ocrmypdf==16.10.2
PyPDF2==3.0.1
Pillow==11.2.1
numpy==2.2.6
psutil==7.0.0
nvidia-ml-py3==7.352.0
GPUtil==1.4.0
python-magic-bin==0.4.14
python-magic==0.4.27
pdf2image==1.17.0
tqdm==4.67.1
colorama==0.4.6
typing_extensions==4.13.2
pyinstaller==6.13.0
nuitka==2.7.5
zstandard==0.23.0
reportlab==4.4.1