# How to Run (Python 3.10^ required)
# ------------------------------------
# Type the ff:
# 
# To deploy VisionLane OCR with python virtual environment:
# 1.) python -m venv .venv
# 2.) .venv\Scripts\activate
# 3.) pip install -r requirements.txt
# 4.) python test_cuda.py (Test if CUDA is working)
# 5.) python main.py
#
# To deactivate and delete python virtual environment:
# 1.) deactivate
# For Windows [PowerShell]
# 2a.) Remove-Item -Recurse -Force .\.venv
# For Linux [BASH]
# 2b.) rm -rf venv
#
# To run from build:
# 1.) Run build.bat or type "pyinstaller --clean build.spec"



# Modules/Dependencies to run DocTR

# Modules with PyTorch + CUDA 12.6 for GPU acceleration
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio

# Other Modules
PyQt6
wmi
python-doctr[torch]
python-doctr
ocrmypdf
PyPDF2
Pillow
opencv-python
numpy
psutil
nvidia-ml-py3
GPUtil
python-magic-bin
python-magic
pdf2image
img2pdf
pdfminer.six
tqdm
colorama
typing_extensions
pyinstaller
